black
flake8
isort
pre_commit==4.1.0
pytest==8.3.4
azure-core==1.32.0
azure-storage-queue==12.12.0
gpiozero==2.0.1
mfrc522==0.0.7
pytest==8.3.4
python-dotenv==1.0.1
python_vlc==3.0.21203
RPi.GPIO==0.7.1
setuptools==44.1.1
SQLAlchemy==2.0.36
click==8.1.8
Faker==33.1.0
Flask==3.1.0
flask_bootstrap==3.3.7.1
flask_moment==1.0.6
flask_wtf==1.2.2
WTForms==3.2.1
gunicorn==23.0.0
lgpio==0.2.2.0
python-vlc==3.0.21203
spidev==3.6
