{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import render_table %}

{% block title %}Toni Tunes{% endblock %}

{% block page_content %}
<div class="container">
    <div class="card-section py-4">
        <div class="d-flex align-items-center mb-3">
            <div class="ms-3">
                <h1 class="card-manager">Card Manager</h1>
            </div>
        </div>
        <table class="table table-striped modern-table">
                <thead>
                    <tr>
                        <th>Card Id</th>
                        <th>Card Name</th>
                        <th>Playlist Id</th>
                        <th>Playlist Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr>
                        <td>{{ card.uid }}</td>
                        <td>{{ card.name }}</td>
                        <td>{{ card.playlist.id }}</td>
                        <td>{{ card.playlist.name }}</td>
                        <td>
                            <a href="{{ url_for('main.map_card', card_uid=card.uid) }}" class="btn btn-primary">Edit</a>
                            <button type="submit" onclick="deleteCard('{{ card.uid }}')" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>

    <div class="mt-4">
        <a href="{{ url_for('main.load_songs') }}" class="btn btn-primary">Load songs</a>
        <a href="{{ url_for('main.load_cards') }}" class="btn btn-primary">Load cards</a>
    </div>
</div>

<script>
    function deleteCard(uid) {
        fetch(`/api/card/${uid}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
            }
        });
    }
</script>

{% endblock %}
