{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Manage Playlists{% endblock %}

{% block page_content %}
<div class="d-flex justify-content-center align-items-center flex-column py-5">
    <div class="container w-75">
        <div class="card-section py-4 text-center">
            <div class="ms-3">
                <h1 class="headline">Playlist Manager</h1>
                <p>Create new playlists or edit existing ones.</p>
            </div>
        </div>

        <table class="table table-striped modern-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>PLAYLIST</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.name }}</td>
                    <td>
                        <a href="/playlist/edit/{{ playlist.id }}" class="btn btn-primary">
                            <img src="/static/icons/pencil-icon.png" alt="Edit" class="action-icon">
                        </a>
                        <button type="submit" onclick="deletePlaylist('{{ playlist.id }}')" class="btn btn-danger">
                            <img src="/static/icons/trash-icon.png" alt="Delete" class="action-icon">
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="{{ url_for('main.manage_playlists') }}" method="post" class="wtf-form mt-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="playlist">Create new Playlist</label>
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

<script>
    function deletePlaylist(id) {
        fetch(`/api/playlists/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
            }
        });
    }
</script>
{% endblock %}
