{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UID2Song mapping{% endblock %}

{% block page_content %}

<div class="container mt-5">
    <h2>Dynamic Table with Dropdowns</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
                {% for dropdown_field in form.dropdown_fields %}
                <tr>
                    <td>{{ dropdown_field.file_name.label }}</td>
                    <td>{{ dropdown_field.file_name() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>



{% endblock %}