{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UID2Song mapping{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


<div class="container mt-5">
    <table>
        <thead>
            <tr>
                {% for heading in table_header %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<form action="/" method="post">
    {{ wtf.quick_form(form) }}
</form>

{% endblock %}